<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>try_myself</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/script.js"></script>

  </head>
  <body>
    <h1>try_myself</h1>

    <a href="/form">formの確認するよ</a>
  </body>
</html>
